@use "sass:map";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "./palette";
@import "./custom";
@import "./utilities";
@import "./components";


@import "../node_modules/bootstrap/scss/bootstrap.scss"
